button {
    width: 200px;
    align: right;
}

#header {
    border: 1px black solid;
    height: 174px;
    background-image: url("../images/top-logo.jpg");
    color: white;
    margin-bottom: 10px;
    font-size: 60px;
    text-shadow: 1px 1px 2px black, 0 0 1em red;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 10px;

}

# column-center {
    border: 1px black solid;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 10px;
    height: 550px;
}